/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(25,118,210);
}

.footerBox {
    background-color: rgba(25,118,210);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    
}

/*Estilos de la pagina de Hotels*/


.containerHotels {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerBuscar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

.containerBody{
    display: flex;
}

.container{
    background: rgb(60,59,89);
    background: linear-gradient(90deg, rgba(60,59,89,1) 1%, rgba(149,185,193,0.5550595238095238) 100%);
    margin-bottom: 30px;
    padding: 50px;
    margin-top: 40px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 100px;
}

.containerBusquedas {
    margin-top: 40px;
    margin-right: 100px;
    padding: 10pxpx;
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.botonesPaginacion{
    display: flex;
    justify-content: center;
}

.titulo{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 50px;

}

.myCard {
    height: 200px;
    width: 200px;
}